@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes backgroundSlide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

.animate-tagline {
  animation: fadeInUp 1s forwards;
  animation-delay: 0.5s;
}

.animate-heading {
  animation: fadeInUp 1s forwards;
  animation-delay: 0.75s;
}

.animate-description {
  animation: fadeInUp 1s forwards;
  animation-delay: 1s;
}

.animate-rich-description {
  animation: fadeInUp 1s forwards;
  animation-delay: 1.25s;
}

.animate-features {
  animation: fadeInUp 1s forwards;
  animation-delay: 1.5s;
}

.animate-actions {
  animation: fadeInUp 1s forwards;
  animation-delay: 1.75s;
}

.animate-background {
  animation: backgroundSlide 30s infinite linear;
}
